/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#include "AK/AkWwiseSDKVersion.h"

#define AK_WWISESDK_VERSION_STRING \
	AK_WWISESDK_NUM2STRING( AK_WWISESDK_VERSION_MAJOR ) \
	"." AK_WWISESDK_NUM2STRING( AK_WWISESDK_VERSION_MINOR ) \
	"." AK_WWISESDK_NUM2STRING( AK_WWISESDK_VERSION_SUBMINOR ) \
	"." AK_WWISESDK_NUM2STRING( AK_WWISESDK_VERSION_BUILD )

VS_VERSION_INFO VERSIONINFO
 FILEVERSION AK_WWISESDK_VERSION_MAJOR,AK_WWISESDK_VERSION_MINOR,AK_WWISESDK_VERSION_SUBMINOR,AK_WWISESDK_VERSION_BUILD
 PRODUCTVERSION AK_WWISESDK_VERSION_MAJOR,AK_WWISESDK_VERSION_MINOR,AK_WWISESDK_VERSION_SUBMINOR,AK_WWISESDK_VERSION_BUILD
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "CompanyName", "Audiokinetic Inc."
            VALUE "FileDescription", AK_WWISESDK_SAMPLE_FILEDESC
            VALUE "FileVersion", AK_WWISESDK_VERSION_STRING
            VALUE "InternalName", AK_WWISESDK_SAMPLE_INTERNALNAME
            VALUE "LegalCopyright", AK_WWISESDK_COPYRIGHT
            VALUE "OriginalFilename", AK_WWISESDK_SAMPLE_ORIGINALFILE
            VALUE "ProductName", "Wwise"
            VALUE "ProductVersion", AK_WWISESDK_VERSION_STRING
#if defined(_DEBUG)
            VALUE "Build Configuration", "Debug"
#elif defined(_PROFILE)
            VALUE "Build Configuration", "Profile"
#endif            
            VALUE "Build Number", AK_WWISESDK_NUM2STRING( AK_WWISESDK_VERSION_BUILD )
            VALUE "Version Name", AK_WWISESDK_VERSIONNAME
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
